<div class="container">
  <app-header></app-header>
  <div class="row">
    <div class="col">
      <h3 *ngFor="let user of currentUser">{{ user.fields.firstName }} {{ user.fields.lastName }}'s Playlist</h3>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th>Artist</th>
          <th>Title</th>
          <th>Times Added</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let song of userSongs">
          <td>{{ song.artist }}</td>
          <td>{{ song.title }}</td>
          <td>{{ song.count }}</td>
<!--          <td>x</td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
